@font-face {
	font-family: 'Museo Sans';
	src: url('../fonts/museo_sans_500.eot');
	src: url('../fonts/museo_sans_500.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/museo_sans_500.woff') format('woff'),
		 url('../fonts/museo_sans_500.woff2') format('woff2'),
		 url('../fonts/museo_sans_500.ttf') format('truetype'),
		 url('../fonts/museo_sans_500.svg') format('svg');
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: 'Museo Sans';
	src: url('../fonts/museo_sans_700.eot');
	src: url('../fonts/museo_sans_700.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/museo_sans_700.woff') format('woff'),
		 url('../fonts/museo_sans_700.woff2') format('woff2'),
		 url('../fonts/museo_sans_700.ttf') format('truetype'),
		 url('../fonts/museo_sans_700.svg') format('svg');
	font-style: normal;
	font-weight: 700;
}