.main-nav{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	z-index: 10;
	background-color: rgba(0,0,0,0.9);

	opacity: 0;
	visibility: hidden;

	@include opacity;

	@include transition(all, 0.2s);

	&.active{
		opacity: 1;
		visibility: visible;

		&:before,
		&:after{
			content: '';
			width: 30px;
			height: 5px;
			display: block;
			position: absolute;
			top: 2.625rem;
			right: 1.375rem;
			cursor: pointer;
			background-color: #fff;
			outline: 5px solid transparent;
			z-index: 1;

			@include medium-up{
				display: none;
			}
		}

		&:before{
			@include rotate(45deg);
		}

		&:after{
			@include rotate(-45deg);
		}
	}


	@include medium-up{
		position: relative;
		opacity: 1;
		visibility: visible;
		background-color: rgba(0,0,0,0.5);
	}

	nav{
		position: relative;
		display: block;
		padding-top: 3.5rem;

		@include medium-up{
			display: table;
			width: 100%;
			padding-top: 0;
		}

		a{
			color: #fff;
			font-size: 0.925rem;
			font-weight: 500;
			line-height: 3rem;
			padding: 0;
			display: block;
			vertical-align: middle;
			text-align: center;

			@include medium-up{
				display: table-cell;
				line-height: 3.625rem;
			}

			@include tablet-up{
				font-size: 1rem;
			}

			@include desktop-up{
				font-size: 1.125rem;
			}

			@include transition(all, 0.25s);

			&:hover,
			&.active{
				background-color: rgba(0,0,0,0.325);
			}
		}
	}
}


.main-carousel + .main-nav{
	@include medium-up{
		position: relative;
		margin: -90px 0 10px;
	}
}
