.main-nav{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	z-index: 1;
	background-color: rgba(0,0,0,0.925);
	
	opacity: 0;
	visibility: hidden;

	@include opacity;

	@include transition(all, 0.2s);

	&.active{
		opacity: 1;
		visibility: visible;
	}

	@include medium-up{
		position: relative;
		opacity: 1;
		visibility: visible;
		background-color: rgba(0,0,0,0.75);
	}

	nav{
		position: relative;
		display: block;
		padding-top: 1rem;

		@include medium-up{
			display: table;
			width: 100%;
			padding-top: 0;
		}	

		a{
			color: #fff;
			font-size: 0.925rem;
			font-weight: 500;
			line-height: 3rem;
			padding: 0;
			display: block;
			vertical-align: middle;
			text-align: center;

			@include medium-up{
				display: table-cell;
				line-height: 3.625rem;
			}

			@include tablet-up{
				font-size: 1rem;
			}

			@include desktop-up{
				font-size: 1.125rem;
			}

			@include transition(all, 0.25s);

			&:hover,
			&.active{
				background-color: rgba(0,0,0,0.25);
			}
		}
	}
}