.ir{
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

// Fix for 5 col grid
.col-5{	width: 20%;}

.transition{
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: 	all 0.25s ease-in-out;
	-ms-transition: 	all 0.25s ease-in-out;
	transition: 		all 0.25s ease-in-out;
}

.full-height{ height: 100%;}
.full-width{ width: 100%;}

.orange-bg{ background-color: $orange;}

.color-orange{ color: $orange;}
.color-white{ color: $white;}
.color-grey{ color: darken($white, 30%)}

.text-overflow{
	white-space: nowrap;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
}

hr, .hr{
	border: none;
	margin: 1.25rem 0;
	height: 1px;
	display: block;
	background: #e5e5e5;
}

.no-margin{	margin: 0;}
.no-padding{ padding: 0;}

.v-align{
	position: relative;
	top: 50%;
	@include translate(0,-50%,0);
}

.inline{display: inline;}
.inline-block{display: inline-block;}
.block{display: block;}
.table{display: table;}
.table-cell{
	display: table-cell;
	vertical-align: middle;
}

.uppercase{text-transform: uppercase;}

.button{
	color: $white;
	font-size: 0.75rem;
	display: inline-block;
	position: relative;
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
	line-height: 42px;
	height: 40px;
	padding: 0 1.25rem;
	border-radius: 5px;
	background: #e64f1d;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom: 3px solid #c64419;

	&.expand{
		width: 100%;
		padding: 0 0.5rem;
	}

	@include transition(all, 0.15s);

	&:hover,
	&:active,
	&:focus{
		background: #c64419;
		border-bottom: 3px solid #c64419;
		color: $white;
	}

	&.grey{
		background: $grey;
		border-bottom: 3px solid darken($grey, 4%);

		&:hover{
			background: darken($grey, 4%);
		}
	}
}


form{
	position: relative;

	input[type="text"],
	input[type="email"],
	input[type="password"],
	input[type="date"],
	input[type="phone"]{
		line-height: 40px;
		height: 40px;
		border: 1px solid $white;
		padding-bottom: 0;
		padding-top: 0;
	}

	textarea{
		border: 1px solid $white;
	}

	input[type="text"]:focus,
	input[type="email"]:focus,
	input[type="password"]:focus,
	input[type="date"]:focus,
	input[type="phone"]:focus,
	textarea:focus{
		border: 1px solid $light-grey;
	}
}
