// Variables

// Colors
$black: 			#000;
$white: 			#fff;
$grey:		 		#999;
$light-grey: 		#ddd;
$orange:			#ff4f1a;
$green: 			#008c00;
$red: 				#b20000;

// Fonts
$font-stack: 'Museo Sans', sans-serif;
$initial-size: 16px;

// Custom Widths for Media Queries
$width-phone: 			480px;
$width-medium:			640px;
$width-tablet: 			768px;
$width-desktop: 		1024px;
$width-wide:	 		1200px;