.products-grid{
	position: relative;
	padding-bottom: 0.75rem;
	overflow: hidden;

	@include medium-up{
		padding-bottom: 1.125rem;
	}

	&:first-child{
		padding-top: 1.75rem;
	}

	h2:after{
		content: '';
		width: 20px;
		height: 20px;
		display: block;
		position: absolute;
		right: -1.75rem;
		top: 0.625rem;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 20px 20px;

		@include phone-up{
			width: 24px;
			height: 24px;
			right: -2rem;
			top: 0.5rem;
			background-size: 24px 24px;
		}
		@include medium-up{
			width: 28px;
			height: 28px;
			right: -2.5rem;
			top: 0.425rem;
			background-size: 28px 28px;
		}
		@include tablet-up{
			width: 32px;
			height: 32px;
			right: -2.75rem;
			top: 0.325rem;
			background-size: 32px 32px;
		}
	}

	&.last-minute h2:after{
		background-image: url('../img/svg/icon-stopwatch.svg');
		opacity: 0;
		outline:1px solid transparent;
		-webkit-animation: 	grow 0.2s ease-out 1s both;
		-moz-animation: 	grow 0.2s ease-out 1s both;
		-ms-animation: 		grow 0.2s ease-out 1s both;
		animation: 			grow 0.2s ease-out 1s both;
	}
	&.hot-bids h2:after{
		background-image: url('../img/svg/icon-hot.svg');
		opacity: 0;
		outline:1px solid transparent;
		-webkit-animation: 	grow 0.2s ease-out 1.25s both;
		-moz-animation: 	grow 0.2s ease-out 1.25s both;
		-ms-animation: 		grow 0.2s ease-out 1.25s both;
		animation: 			grow 0.2s ease-out 1.25s both;
	}
	&.new-products h2:after{
		background-image: url('../img/svg/icon-star.svg');
		opacity: 0;
		outline:1px solid transparent;
		-webkit-animation: 	grow 0.2s ease-out 1.5s both;
		-moz-animation: 	grow 0.2s ease-out 1.5s both;
		-ms-animation: 		grow 0.2s ease-out 1.5s both;
		animation: 			grow 0.2s ease-out 1.5s both;
	}


	& .columns:first-of-type article{
		-webkit-animation-delay: 0.2s;
		-moz-animation-delay: 0.2s;
		animation-delay: 0.2s;
	}
	& .columns:nth-of-type(2) article{
		-webkit-animation-delay: 0.4s;
		-moz-animation-delay: 0.4s;
		animation-delay: 0.4s;
	}
	& .columns:nth-of-type(3) article{
		-webkit-animation-delay: 0.6s;
		-moz-animation-delay: 0.6s;
		animation-delay: 0.6s;
	}


	@include medium-only{
		.columns > .row{
			margin: 0 -0.5em;
		}
		.columns > .row > .columns{
			padding-left: 0.5em;
			padding-right: 0.5em;
		}
	}

	@include tablet-only{
		.columns > .row{
			margin: 0 -0.875em;
		}
		.columns > .row > .columns{
			padding-left: 0.875em;
			padding-right: 0.875em;
		}
	}

	@import "products-grid/products-grid-header";
	@import "products-grid/products-grid-item";
}
